body,html{height:100%;padding:0px;margin:0px;}
body{font-family:verdana;font-size:3vw;background-image:url("../img/espacio.jpg");background-color:black;background-repeat:no-repeat;position:fixed;}
.a{background-color:transparent;}
.b{background-color:transparent;}
.c{background-color:transparent;display:block !important}
.a,.b,.c{display:inline-block;width:33.33%;height:100%;float:left;}
.d{background-color:transparent;background-image:url("../img/luna.png");background-repeat:no-repeat;height:20%;width:100%;position:fixed;bottom:0px;display:inline-block;}
#nave{text-align:center;position:fixed;top:10%;width:100%;height:20%}
#nave img{height:100%;}
#cpanel{}
#hidem,#showm{display:none}
